body {
    background-color: var(--cls-body);
    height: 600px;
}

:root {
    --cls-body: green;
    --cls-head: white;
    --cls-btn: blue;
}

.dark {
    --cls-body: yellow;
    --cls-head: grey;
    --cls-btn: rgb(4, 28, 54);
}

.container {
    color: rgb(101, 226, 43);
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1440px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 550px;
}

.heading {
    color: var(--cls-head);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-right: 30px;
    font-size: 40px;
}

.btn__mode {
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--cls-btn);
    border: 2px solid var(--cls-btn);
    color: var(--cls-head);
    transition: all 0.5s;
}

.btn__mode:hover {
    background-color: white;
    color: blue;
}

.heading__img {
    margin-left: 450px;
    cursor: pointer;
}